/output
/out
/data
build
.vscode
.pytest_cache
.cache
*.pyc
*.pt
*.so
*.h5
*.o
*.prof
.nfs*
/im2mesh/utils/libmcubes/mcubes.cpp
/im2mesh/utils/libsimplify/simplify_mesh.cpp
/im2mesh/utils/libsimplify/build

